*{
   
}
body{
    background: #232836;
    background-repeat: no-repeat;
    background-size: 100% 800px;
    color: white;

}
.container{
    background-color: #232836;    
    width: 50%;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 13px;
    border-radius: 13px;
    background: linear-gradient(145deg, #202431, #252b3a);
    box-shadow:  12px 12px 24px #1e222e,
                 -12px -12px 24px #282e3e;
    
padding-top: 25px;
padding-bottom: 25px;
    
}
.main{
    
    width: 100%;
    padding-bottom: 10px;
    
      
}
.resultado{
    padding: 25px;
    background: linear-gradient(145deg, #202431, #252b3a);
    box-shadow:  12px 12px 24px #1e222e,
                 -12px -12px 24px #282e3e;
}
.formulario{
    text-align: center;
    margin: 10px;
    
}
.formulario input{
    margin: 5px;
    border-radius: 20px;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 5px 5px 5px 15px;
    
    
}
.formulario button{
    background: #F5F5F5;
    color: #4B556B;
border: none;
font-size: large;
font-weight: 500;
border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    -webkit-box-shadow: 5px 4px 9px 6px rgba(0,0,0,0.28); 
box-shadow: 5px 4px 9px 6px rgba(0,0,0,0.28);
width: 60%;
}
.formulario button:hover{
    background:#4B556B;
    color:#F5F5F5;
    font-weight: 700;
}

.formulario button:focus{
    background: #F5F5F5;
border: none;
color: #4B556B;;
font-size: large;
font-weight: 500;
box-shadow: none !important;
}
.formulario button:active{
    background: #F5F5F5 !important;
border: none;
color: #4B556B !important;
font-size: large;
font-weight: 500;
box-shadow: none !important;
}



.tabla{
    flex-wrap: wrap;
    padding-bottom: 30px;
    border-radius: 15px;
}
.accion {
    width: 90px;
}